
// Paleta de cores
$cor-primaria: #0077ff;
$cor-secundaria: #ff4081;
$cor-clara: #f9f9f9;
$cor-escura: #333;
$cor-texto: #444;

// Tipografia
$fonte-base: 'Roboto', sans-serif;
$tamanho-base: 16px;

// Espaçamentos
$espaco-sm: 0.5rem;
$espaco-md: 1rem;
$espaco-lg: 2rem;
